body{
    width: 1366px;
    height: 2276px;
}

header{
    height: 500px;
}

.redes{
top: 0px;
left: 0px;
width: 1366px;
height: 35px;
background-color: #D33D90;
}

.ig{
float: left;
top:11px;
left: 80px;
width: 14px;
height: 14px;
background-image: url(../img/instagram-logo.svg);
}



.banner{
    height: 500px;
    background-image: url(../img/Habitación_slider.png);
}

.degradado{
    top: 0px;
    left: 0px;
    width: 1366px;
    height: 439px;
    background: transparent linear-gradient(180deg, #EFEFEC 0%, #EFEFEC00 100%, #FFFFFF00 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}

.logo{
margin: auto;
top: 1em;
width: 216px;
height: 73px;
background-image: url(../img/Complejo-las-musas-logo-2.png);
}



.menu{
    position: relative;
    width: 1366px;
    height: 16px;
  }
      .botonera ul {
      margin: 0px;
      padding: 0px;
      list-style-type: none;
      }

     .botonera ul li {
        display: inline;
      }
      .botonera li a {
        display: inline-block;
        width: 185px;
        height: 16px;
        margin-bottom: 5px;
        color: #FFBF00;
        text-decoration: none;
        text-align: center;
        line-height: 45px;
      }





section{
height: 1497px;
background-color: #FFFFFF;
}


.titulo{
margin: auto;
margin-top: 3.5em;
width: 492px;
height: 30px;
}

.titulo h1{
    text-align: center;
    font: normal normal 800 25px/16px 'Montserrat';
    letter-spacing: 0px;
    color: #D33D90;
    opacity: 1;
}

.info-titulo{
    margin: auto;
    width: 1000px;
    height: 97px;
}

p{
text-align: center;
font: normal normal normal 14px/18px 'Montserrat';
letter-spacing: 0px;
color: #828282;
opacity: 1;
}

.wifi{
    left: 5%;
    width: 176px;
    height: 176px;
    background: #EFEFEC 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
    float: left;
}

.aire-acondicionado{

top: 748px;
left: 287;
width: 176px;
height: 176px;
background: #EFEFEC 0% 0% no-repeat padding-box;
border-radius: 20px;
opacity: 1;
float: left;
}






footer{
top: 1996px;
left: 0px;
width: 1366px;
height: 279px;
background-color:#EFEFEC;
opacity: 1;
}


#galeria, #galeria * {box-sizing:border-box}
#galeria {
border: 1px solid #EAEAEA;  /* Borde de la galería */
padding: 10px;
padding-bottom: 0;
background: white;  /* Fondo de la galería */
width: 410px;  /* Ancho de la galería */
}

#galeria_miniaturas {
display: table;
margin: 0 auto;
}

#imgGaleria {
border: 1px solid #F2F2F2;  /* Borde de la imagen */
padding: 3px;
width: 500px; /* Ancho de la imagen */
height: x; /* Alto de la imagen */
}

.miniatura {
width:  60px;  /* Ancho de las miniaturas */
height:  60px;  /* Alto de las miniaturas */
float: left;
cursor: pointer;
padding: 5px;
margin: 10px 5px;
}

.miniatura:hover {
opacity:.8;   /* Opacidad */
}
.miniatura:active {
opacity:1;
}
